USE Carteras
GO

--Si exista la tabla respaldo se elimina
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name = 'ListaAbogados_Respaldo') DROP TABLE ListaAbogados_Respaldo

--Se respalda la lista de abogados antes de eliminar la tabla
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name = 'ListaAbogados') SELECT * INTO ListaAbogados_Respaldo FROM ListaAbogados
GO

--Verifica que la tabla exista y si existe la elimina
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name = 'ListaAbogados') DROP TABLE ListaAbogados

GO
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--Crea la estructura de la tabla
CREATE TABLE dbo.ListaAbogados(
	Num_Empleado int,
	Nom_Abogado nvarchar(255))

--Inserta el numero de los abogados y el nombre
GO
INSERT dbo.ListaAbogados (Num_Empleado, Nom_Abogado) VALUES (90659082, N'MARIA FERNANDA WENDY RAMIREZ ESPINOZA')
INSERT dbo.ListaAbogados (Num_Empleado, Nom_Abogado) VALUES (90913752, N'CRUZ REYNALDO COTA ZAVALA')
INSERT dbo.ListaAbogados (Num_Empleado, Nom_Abogado) VALUES (91008158, N'GENTIAN VILLASEÑOR MORENO')
GO
print 'Processed 100 total records'
